<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.2.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="WebSharper" version="4.2.12.259" targetFramework="net461" />
  <package id="WebSharper.FSharp" version="4.2.12.259" targetFramework="net461" />
  <package id="WebSharper.UI" version="4.2.6.119" targetFramework="net461" />
</packages>